h1 {
  font-family: "Pokemon";
  font-size: 3.5em;
  line-height: 1.2;
  margin-bottom: 0.3rem;

  color: #ffcb05; 
  text-shadow:
    -2px -2px 0 #2a75bb, 
    2px -2px 0 #2a75bb,  
    -2px 2px 0 #2a75bb,  
    2px 2px 0 #2a75bb; 
}

p {
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  color: #f5e9e9;
  text-shadow: 0 0 8px #a83333;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

span {
  font-size: 1.4rem;
  color: #ffcb05;
  text-shadow: 0px 2px 1px #2a75bb;
}

input {
  border: 2px solid #3b1414;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: 16rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  background-color: #000000;
}

input:focus {
  border-color: #3b1414;;
  box-shadow: 0 0 0 5px rgba(42, 8, 8, 0.2);
}

button {
  flex-shrink: 0;
  font-size: 1rem;
  margin: 0 0.3125rem 0.3125rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

button.New {
  color: #c7d0f2;
  padding: 0.5rem 0.5rem;
  margin-right: 1rem;
  border: 3px solid #384473;
  background-color: #2a75bb; 
}

button.Buttom {
  color: rgb(255, 255, 255);
  padding: 0.625rem 1rem;
  border: 3px solid #840c0c;
  background-color: #e3350d; 
}

button:disabled {
  color: rgb(60, 0, 0);
  border: solid #390000;
  padding: 0.5rem 0.5rem;
  background-color: #651111;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
  transition: none;
}

button:hover:enabled {
  transform: scale(1.05);
}


button.New:hover:enabled {
  background-color: #1b4c8a;
}

button.Buttom:hover:enabled {
  background-color: #a60c00;
}



